<div class="blank0"></div>
<div class="blank25"></div>
<div id="footerArea" class="xcFootBox">
	<div class="xcFoot">
		<ul>
			<li>
				<h2>关于小橙</h2>
				<p>
					<a class="track" name="h-footer-introducition_n" href="//www.xc.com/help/about.htm" target="_blank" rel="hp-hp-footer-about_1-n">公司简介</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-about_4-v:n" href="//help.xc.com/Home/contact" target="_blank" rel="nofollow"> 联系我们
					</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-about_5-v:n" href="//www.xc.com/link/" target="_blank">友情链接</a>
				</p>
			</li>
			<li>
				<h2>新手指南</h2>
				<p>
					<a class="track" name="hp-hp-footer-newbieguide_1-v:n" href="//help.xc.com/Category/51-1.html" target="_blank" rel="nofollow">账户注册</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-newbieguide_2-v:n" href="//help.xc.com/Content/1.html" target="_blank" rel="nofollow">购物流程</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-newbieguide_4-v:n" href="//www.xc.com/map/" target="_blank">网站地图</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-newbieguide_5-v:n" href="//www.vjia.com/html/cooperation.html" target="_blank">商家入驻</a>
				</p>
			</li>
			<li>
				<h2>配送范围及时间</h2>
				<p>
					<a class="track" name="hp-hp-footer-depvery_1-v:n" href="//help.xc.com/category/transfer" target="_blank" rel="nofollow">国内配送</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-depvery_2-v:n" href="//help.xc.com/Category/25-1.html" target="_blank" rel="nofollow">订单拆分</a>
				</p>
			</li>
			<li>
				<h2>支付方式</h2>
				<p>
					<a class="track" name="hp-hp-footer-payment_1-v:n" href="//help.xc.com/Content/21.html" target="_blank">货到付款</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-payment_2-v:n" href="//help.xc.com/Content/33.html" target="_blank" rel="nofollow">在线支付</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-payment_3-v:n" href="//help.xc.com/Content/37.html" target="_blank">礼品卡及账户余额</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-payment_4-v:n" href="//help.xc.com/Category/31-1.html" target="_blank" rel="nofollow">其他支付方式</a>
				</p>
			</li>
			<li>
				<h2>售后服务</h2>
				<p>
					<a class="track" name="hp-hp-footer-aftersale_1-v:n" href="//help.xc.com/Category/43-1.html" target="_blank">退换货政策</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-aftersale_2-v:n" href="//help.xc.com/Category/42-1.html" target="_blank">退换货办理流程</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-aftersale_3-v:n" href="//help.xc.com/Category/41-1.html" target="_blank">退换货网上办理</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-aftersale_4-v:n" href="//help.xc.com/Category/40-1.html" target="_blank">退款说明</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-aftersale_4-v:n" href="//www.ccn.com.cn/topics/2014/1013/" target="_blank">调查问卷</a>
				</p>
			</li>
			<li class="footline">
				<h2>帮助中心</h2>
				<p>
					<a class="track" name="hp-hp-footer-help_1-v:n" href="//imweb.xc.com/" target="_blank" rel="nofollow">在线客服</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-help_2-v:n" href="//login.xc.com/Login/GetPwdStep1.aspx" target="_blank" rel="nofollow">找回密码</a>
				</p>
				<p>
					<a class="track" name="hp-hp-footer-help_5-v:n" href="//help.xc.com/home/Announce" target="_blank" rel="nofollow">隐私声明</a>
				</p>
			</li>
		</ul>
	</div>
	<div class="blank25"></div>
</div>
<div class="footBottom">
	<div class="footBottomTab">
		<p>
			Copyright 2007 - 2014 xiaocheng.com All Rights Reserved
		</p>
	</div>
</div>
</div></body>
</html>