<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>小橙时尚</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/filter.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/filter2.css"></head>
<body>
	<div id="Head" class="xcHead">
		<div id="headerTopArea" class="headerTopAreaBox">
			<div class="headerTopArea">
				<div class="headerTop">
					<div class="headerTopLeft">
						<div id="welcome" class="top loginArea">
							您好,&nbsp
							<%=userName%>
							<span class="top">欢迎光临小橙时尚！&nbsp;</span>
							<span>
								<a href="login/login.html" class="top track">登录</a>
								&nbsp;|&nbsp;
								<a href="login/reg.html" class="track">注册</a>
							</span>
						</div>
						<div class="recommendArea">
							<a href="" rel="nofollow" class="track" name="hp-hp-head-order-v:n">我的订单</a>
						</div>
					</div>
					<div class="headerTopRight">
						<div class="active" id="myxc">
							<a target="_blank" href="" name="hp-hp-head-myxc-v:n" class="mapDropTitle track" rel="nofollow">我的小橙</a>
							<div class="mapDropListBox">
								<ul class="mapDropList">
									<li>
										<a class="track" name="hp-hp-head-myxc_order-v:n" href="" rel="nofollow">我的订单</a>
									</li>
									<li>
										<a class="track" name="hp-hp-head-myxc_favor-v:n" href="" rel="nofollow">我的收藏</a>
									</li>
								</ul>
								<div class="myxcDropListBj"></div>
							</div>
						</div>
						<div class="active" id="xcMap">
							<a class="mapDropTitle track" name="hp-hp-head-map-v:n" href="" target="_blank">网站导航</a>
							<div class="mapDropListBox">
								<ul class="mapDropList">
									<li>
										<a class="track" name="hp-hp-head-union-v:n" href="" target="_blank">网站联盟</a>
									</li>
								</ul>
								<div class="myxcDropListBj"></div>
							</div>
						</div>
						<div class="active" id="xcHelp">
							<a target="_blank" href="//help.xc.com/" name="hp-hp-head-help-v:n" class="mapDropTitle track">帮助中心</a>
							<div class="mapDropListBox">
								<ul class="mapDropList">
									<li>
										<a class="track" name="hp-hp-head-help_1-v:n" href="" target="_blank">购物指南</a>
									</li>
									<li>
										<a class="track" name="hp-hp-head-help_2-v:n" href="" target="_blank">配送方式</a>
									</li>
									<li>
										<a class="track" name="hp-hp-head-help_3-v:n" href="" target="_blank">支付方式</a>
									</li>
									<li>
										<a class="track" name="hp-hp-head-help_4-v:n" href="" target="_blank">售后服务</a>
									</li>
									<li>
										<a class="track" name="hp-hp-head-help_5-v:n" href="" target="_blank">投诉建议</a>
									</li>
									<li>
										<a class="track" name="hp-hp-head-help_6-v:n" href="" target="_blank">在线客服</a>
									</li>
								</ul>
								<div class="myxcDropListBj"></div>
							</div>
						</div>
						<div class="active notice" id="xcCustomer">
							<a class="mapDropTitle track" name="hp-hp-head-customer-v:n" href="" target="_blank">网站公告</a>
							<div class="mapDropListBox">
								<ul class="mapDropList">
									<li>
										<a class="track" name="hp-hp-head-customer-v:n" href="" target="_blank">网站公告</a>
									</li>
									<li>
										<a class="track" name="hp-hp-head-customer-v:n" href="" target="_blank">重要提示</a>
									</li>
								</ul>
								<div class="myxcDropListBj"></div>
							</div>
						</div>
						<div class="xcPhone">
							<a href="" class="track" name="hp-hp-head-mobile-v:n" target="_blank">手机小橙</a>
						</div>
					</div>
					<span class="blank0"></span>
				</div>
			</div>
		</div>
	</div>
