<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/login.css"></head>
<body>
	<center>
		<div id="Head" align="left">
			<a class="logo" href=""></a>
			<p>
				<a href="" target="_blank">帮助</a>
			</p>
		</div>
	</center>
	<div class="wrapper">
		<div class="login">
			<div class="tag">
				<ul id="tags">
					<li class="on">用户登陆</li>
				</ul>
			</div>
			<form id="loginID" method="post">
				<div id="shows">
					<div class="user_infor" style="display: block;">
						<div id="vanclLoginError" class="tips">用户名或者密码错误!</div>
						<p>
							<label>用户名：</label>
							<input id="vanclUserName" name="loginName" type="text" value=""></p>
						<p>
							<label>密　码：</label>
							<input id="vanclPassword" name="loginPwd" type="password" class="inputtextcolor" value=""></p>
						<div id="validate"><%=validate%></div>
						<div class="bt">
							<a id="vanclLogin" class="log" href="javascript:void(0)" name="submit" >登　录</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<center>

		<div id="bottom" align="center">
			<div id="bottoms">
				<p class="bZp3">Copyright 2007 - 2014 vancl.com All Rights Reserved</p>
			</div>
		</div>
	</center>
	<script type="text/javascript">
	$(document).ready(function() {
		$('#vanclLogin').click(function(){
			$('#loginID').submit();
		})
	});

</script>

</body>
</html>