<% include aheader.html %>
<div id="content" class="xcContent xcCon">
	<!--焦点区域-->
	<div class="wwwcategoryList">
		<div class="categpost">
			<dl>
				<h3>男装</h3>
				<dt>T恤/POLO衫</dt>
				<dd class="noline">
				<a target="_blank" href="http://s.xc.com/28968-s1.html" class="track selectedtips nobg" name="hp-hp-classman-1_1-v:n">T恤</a>
				<a target="_blank" href="http://s.xc.com/s1.html?k=POLO%E8%A1%AB" class="track" name="hp-hp-classman-1_2-v:n">POLO衫</a>
				</dd>
				<dt>衬衫</dt>
				<dd class="noline">
				<a target="_blank" href="http://s.xc.com/s1.html?k=80%E5%85%8D%E7%83%AB" class="track selectedtips nobg" name="hp-hp-classman-1_3-v:n">80免烫</a>
				<a href="http://s.xc.com/s1.html?k=%E7%89%9B%E4%BB%94%E5%B8%83+%E8%A1%AC%E8%A1%AB+%E7%94%B7" class="track" name="hp-hp-classman-1_4-v:n" target="_blank">牛仔布</a>
				<a href="http://s.xc.com/s1.html?k=%E7%89%9B%E6%B4%A5%E7%BA%BA%E8%A1%AC%E8%A1%AB+%E7%94%B7" class="track" name="hp-hp-classman-1_5-v:n" target="_blank">牛津纺</a>
				<a href="http://s.xc.com/s1.html?k=%E9%95%BF%E7%BB%92%E6%A3%89%E8%A1%AC%E8%A1%AB+%E7%94%B7" class="track" name="hp-hp-classman-1_6-v:n" target="_blank">长绒棉</a>
				</dd>
				<dt>外套</dt>
				<dd>
				<a target="_blank" href="http://s.xc.com/s1.html?k=%E5%86%B2%E9%94%8B%E8%A1%A3+%E7%94%B7" class="track selectedtips nobg" name="hp-hp-classman-1_7-v:n">冲锋衣</a>
				<a href="http://s.xc.com/s1.html?k=%E6%A3%92%E7%90%83%E5%BC%80%E8%A1%AB+%E7%94%B7" class="track" name="hp-hp-classman-1_8-v:n" target="_blank">棒球服</a>
				<a href="http://s.xc.com/search?k=%E7%9A%AE%E8%82%A4%E8%A1%A3%20%E7%94%B7&amp;orig=3" class="track" name="hp-hp-classman-1_9-v:n" target="_blank">皮肤衣</a>
				<a href="http://s.xc.com/s1.html?k=%E7%BE%8A%E6%AF%9B%E8%A5%BF%E6%9C%8D+%E7%94%B7" class="track" name="hp-hp-classman-1_10-v:n" target="_blank">羊毛西服</a>
				</dd>
				<dt>裤装</dt>
				<dd class="noline">
				<a href="http://s.xc.com/s1.html?k=%E7%89%9B%E4%BB%94%E8%A3%A4+%E7%94%B7" class="track selectedtips nobg" name="hp-hp-classman-1_11-v:n" target="_blank">牛仔裤</a>
				<a href="http://s.xc.com/s1.html?k=%E5%8D%A1%E5%85%B6%E8%A3%A4+%E7%94%B7" class="track" name="hp-hp-classman-1_12-v:n" target="_blank">卡其裤</a>
				<a href="http://s.xc.com/search?k=%E9%92%88%E7%BB%87%E8%A3%A4%20%E7%94%B7&amp;orig=3" class="track" name="hp-hp-classman-1_13-v:n" target="_blank">运动裤</a>
				</dd>
			</dl>
			<dl>
				<h3>女装</h3>
				<dt>上装</dt>
				<dd>
				<a href="http://s.xc.com/s1.html?k=T%E6%81%A4+%E5%A5%B3" class="track selectedtips nobg" name="hp-hp-classwoman-1_1-v:n" target="_blank">T恤</a>
				<a href="http://s.xc.com/s1.html?k=%E7%9A%AE%E8%82%A4%E8%A1%A3+%E5%A5%B3" class="track" name="hp-hp-classwoman-1_2-v:n" target="_blank">皮肤衣</a>
				<a href="http://s.xc.com/s1.html?k=%E7%89%9B%E6%B4%A5%E7%BA%BA+%E5%A5%B3" class="track" name="hp-hp-classwoman-1_3-v:n" target="_blank">牛津纺</a>
				<a href="http://s.xc.com/s1.html?k=%E6%A3%92%E7%90%83%E5%BC%80%E8%A1%AB+%E5%A5%B3" class="track" name="hp-hp-classwoman-1_4-v:n" target="_blank">棒球服</a>
				</dd>
				<dt>裤装</dt>
				<dd>
				<a href="http://s.xc.com/s1.html?k=%E7%89%9B%E4%BB%94%E8%A3%A4+%E5%A5%B3" class="track selectedtips nobg" name="hp-hp-classwoman-1_5-v:n" target="_blank">牛仔裤</a>
				<a href="http://s.xc.com/search?k=%E9%92%88%E7%BB%87%E8%A3%A4%20%E5%A5%B3&amp;orig=3" class="track" name="hp-hp-classwoman-1_6-v:n" target="_blank">运动裤</a>
				</dd>
			</dl>
			<dl>
				<h3>内衣/袜品/鞋</h3>
				<dd class="noline">
				<a href="http://s.xc.com/s1.html?k=%E5%B8%86%E5%B8%83%E9%9E%8B" class="track" name="hp-hp-classfootgear-1_1-v:n" target="_blank">帆布鞋</a>
				<a href="http://s.xc.com/s1.html?k=%E8%BF%9E%E8%A3%A4%E8%A2%9C" class="track" name="hp-hp-classfootgear-1_2-v:n" target="_blank">连裤袜</a>
				<a href="http://s.xc.com/s1.html?k=%E9%9B%AA%E5%9C%B0%E9%9D%B4" class="track" name="hp-hp-classfootgear-1_3-v:n" target="_blank">雪地靴</a>
				<a href="http://s.xc.com/s1.html?k=%E6%A3%89%E8%A2%9C" class="track" name="hp-hp-classfootgear-1_4-v:n" target="_blank">棉袜</a>
				</dd>
			</dl>
		</div>
	</div>
	<div class="xcFocusAd fr">
		<div style="width:30%;height:17px;"></div>
		<div class="xcFocus fl">
			<div class="foucsTab">
				<ul id="slider" class="rslides rslides1">
					<li data-focusflag="other1" style="display: list-item; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out; background: url(http://i4.xcimg.com/cms/20150407/fbh47.jpg) 50% 0px no-repeat scroll;" id="rslides1_s0" class="">
						<a title="发布会" href="http://catalog.xc.com/vt/xcspring.html" class="track" name="hp-hp-focus-1_1-v:n" target="_blank"></a>
					</li>
					<li data-focusflag="other1" style="display: list-item; float: left; position: relative; opacity: 1; z-index: 2; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out; background: url(http://i3.xcimg.com/cms/20150401/vtsj.jpg) 50% 0px no-repeat scroll;" id="rslides1_s1" class="rslides1_on">
						<a title="素色T" href="http://catalog.xc.com/vt/2015VT.html" class="track" name="hp-hp-focus-1_3-v:n" target="_blank"></a>
					</li>
					<li data-focusflag="other4" style="display: list-item; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out; background: url(http://i5.xcimg.com/cms/20150408/majd2.jpg) 50% 0px no-repeat scroll;" id="rslides1_s2" class="">
						<a title="麻西服" href="http://catalog.xc.com/coats/Linensuit.html" class="track" name="hp-hp-focus-1_2-v:n" target="_blank"></a>
					</li>
					<li data-focusflag="other1" style="display: list-item; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out; background: url(http://i2.xcimg.com/cms/20150408/jdjgw.jpg) 50% 0px no-repeat scroll;" id="rslides1_s3" class="">
						<a title="青年布吉国武衬衫" href="http://catalog.xc.com/shirts/Youthclothshir.html" class="track" name="hp-hp-focus-1_4-v:n" target="_blank"></a>
					</li>
					<li data-focusflag="other3" style="display: list-item; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out; background: url(http://i3.xcimg.com/cms/20150330/jd3.jpg) 50% 0px no-repeat scroll;" id="rslides1_s4" class="">
						<a title="牛仔衬衫" href="http://catalog.xc.com/shirts/cowboyshirt.html" class="track" name="hp-hp-focus-1_5-v:n" target="_blank"></a>
					</li>
					<li data-focusflag="other4" style="display: list-item; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out; background: url(http://i5.xcimg.com/cms/20150331/710-475.jpg) 50% 0px no-repeat scroll;" id="rslides1_s5" class="">
						<a title="VJIA人本" href="http://mall.vjia.com/renben" class="track" name="hp-hp-focus-1_6-v:n" target="_blank"></a>
					</li>
					<li data-focusflag="other4" style="display: list-item; float: none; position: absolute; opacity: 0; z-index: 1; -webkit-transition: opacity 500ms ease-in-out; transition: opacity 500ms ease-in-out; background: url(http://i4.xcimg.com/cms/20150401/sj2.jpg) 50% 0px no-repeat scroll;" id="rslides1_s6" class="">
						<a title="VJIA2" href="http://mall.vjia.com/viishow" class="track" name="hp-hp-focus-1_7-v:n" target="_blank"></a>
					</li>
				</ul>
				<a href="javascript:void(0);" class="rslides_nav rslides1_nav prev">Previous</a>
				<a href="javascript:void(0);" class="rslides_nav rslides1_nav next">Next</a>
				<ul class="rslides_tabs rslides1_tabs">
					<li class="rslides1_s1">
						<a href="javascript:void(0);" class="rslides1_s1">1</a>
					</li>
					<li class="rslides1_s2 rslides_here">
						<a href="javascript:void(0);" class="rslides1_s2">2</a>
					</li>
					<li class="rslides1_s3">
						<a href="javascript:void(0);" class="rslides1_s3">3</a>
					</li>
					<li class="rslides1_s4">
						<a href="javascript:void(0);" class="rslides1_s4">4</a>
					</li>
					<li class="rslides1_s5">
						<a href="javascript:void(0);" class="rslides1_s5">5</a>
					</li>
					<li class="rslides1_s6">
						<a href="javascript:void(0);" class="rslides1_s6">6</a>
					</li>
					<li class="rslides1_s7">
						<a href="javascript:void(0);" class="rslides1_s7">7</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="xcAd fr">
			<a href="http://catalog.xc.com/outdoor/Pizex150303.html" class="track" name="hp-hp-yc-1_1-v:n" target="_blank">
			<img src="http://i3.xcimg.com/cms/20150330/y1.jpg" alt="" title=""></a>
			<a href="http://catalog.xc.com/outdoor/pfy150319.html" class="track" name="hp-hp-yc-1_2-v:n" target="_blank">
			<img src="http://i5.xcimg.com/cms/20150402/yxt2.jpg" alt="" title=""></a>
		</div>
	</div>
	<script language="javascript" type="text/javascript">
	$(function () {
	//-------焦点图
	if ($("#slider").responsiveSlides) {
	//根据querystring的值，调整焦点图中的图片顺序
	var firstKey = $("#slider").attr("data-firstKey");
	if (firstKey) {
	var item = $("li[data-focusflag='" + firstKey + "']", $("#slider"));
	if (item.size() == 1 && item.index()> 0) {
	$("#slider").prepend(item.clone());
	item.remove();
	}
	}
	$("#slider").responsiveSlides({ auto: true, pager: true, speed: 500, pause: true, nav: true});
	}
	});
	</script>
	<span class="blank20"></span>
	<div class="hotShopping">
			<div class="shopTitle">
				<span class="fr">
					<a href="javascript:;" class="lef"></a>
					<a href="javascript:;" class="rig"></a>
				</span>
				<h2>热销商品</h2>
			</div>
			<div class="shopList">
				<ul>
					<li>
						<div>

							<a href="http://catalog.xc.com/shirts/miantang80.html" class="track" name="hp-hp-rxsp-1_1-v:n" target="_blank">
								<img src="http://i5.xcimg.com/cms/20150330/jp-1.jpg" alt="" title=""></a>
							<h3>
								<a href="http://catalog.xc.com/shirts/miantang80.html" class="track" name="hp-hp-rxsp-1_1-v:n" target="_blank">凡客80免烫衬衫 168元</a>
							</h3>
						</div>
					</li>
					<li>
						<div>
							<a href="http://catalog.xc.com/niuzai/xcjeans.html" class="track" name="hp-hp-rxsp-1_2-v:n" target="_blank">
								<img src="http://i5.xcimg.com/cms/20150330/jp-2.jpg" alt="" title=""></a>
							<h3>
								<a href="http://catalog.xc.com/niuzai/xcjeans.html" class="track" name="hp-hp-rxsp-1_2-v:n" target="_blank">轻弹直筒牛仔裤 199元</a>
							</h3>
						</div>
					</li>
					<li>
						<div>
							<a href="http://catalog.xc.com/xiuxianku/pants.html" class="track" name="hp-hp-rxsp-1_3-v:n" target="_blank">
								<img src="http://i5.xcimg.com/cms/20150330/jp-3.jpg" alt="" title=""></a>
							<h3>
								<a href="http://catalog.xc.com/xiuxianku/pants.html" class="track" name="hp-hp-rxsp-1_3-v:n" target="_blank">凡客卡其裤 129元起</a>
							</h3>
						</div>
					</li>
					<li>
						<div>
							<a href="http://catalog.xc.com/shirts/399sale.html" class="track" name="hp-hp-rxsp-1_4-v:n" target="_blank">
								<img src="http://i5.xcimg.com/cms/20150330/jp-4.jpg" alt="" title=""></a>
							<h3>
								<a href="http://catalog.xc.com/shirts/399sale.html" class="track" name="hp-hp-rxsp-1_4-v:n" target="_blank">凡客长袖衬衫 149元起</a>
							</h3>
						</div>
					</li>
					<li>
						<div>
							<a href="http://catalog.xc.com/weiyi/zkbnwy_20140916.html" class="track" name="hp-hp-rxsp-1_5-v:n" target="_blank">
								<img src="http://i4.xcimg.com/cms/20150402/jp5.jpg" alt="" title=""></a>
							<h3>
								<a href="http://catalog.xc.com/weiyi/zkbnwy_20140916.html" class="track" name="hp-hp-rxsp-1_5-v:n" target="_blank">凡客空气层外套 249元</a>
							</h3>
						</div>
					</li>
					<li>
						<div>
							<a href="http://catalog.xc.com/weiyi/xinpin_20140306.html" class="track" name="hp-hp-rxsp-1_6-v:n" target="_blank">
								<img src="http://i1.xcimg.com/cms/20150330/jp6gg.jpg" alt="" title=""></a>
							<h3>
								<a href="http://catalog.xc.com/weiyi/xinpin_20140306.html" class="track" name="hp-hp-rxsp-1_6-v:n" target="_blank">凡客棉感修身卫衣 59元起</a>
							</h3>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--底部通栏广告位-->
		<div class="shopTitle">
				<span class="fr">
					<a href="" class="lef"></a>
					<a href="" class="rig"></a>
				</span>
				<h2>新品上架</h2>
			</div>
		<div class="blank0"></div>
		<div class="proAreabox clearFix">
			<div class="imgTab">
				<div class="imga">
					<div class="imgaa">
						<div class="imgaaa">
							<div>
								<a href="http://catalog.xc.com/niuzai/newdenim.html" class="track" name="hp-hp-dbtl-1_1-v:n" target="_blank">
									<img src="http://i3.xcimg.com/cms/20150403/gg1.jpg" alt="" title=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="imgb">
					<div class="imgbb">
						<div class="imgbbb">
							<div>
								<a href="http://catalog.xc.com/mianwa/Pantyhose150320.html" class="track" name="hp-hp-dbtl-1_2-v:n" target="_blank">
									<img src="http://i4.xcimg.com/cms/20150403/gg2.jpg" alt="" title=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="imgTab imgTab01">
				<div class="imgc">
					<div class="imgcc">
						<div class="imgccc">
							<div>
								<a href="http://catalog.xc.com/home/fkjjpd_20141107.html" class="track" name="hp-hp-dbtl-1_3-v:n" target="_blank">
									<img src="http://i5.xcimg.com/cms/20150331/xsy3.jpg" alt="" title=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="imgd">
					<div class="imgdd">
						<div class="imgddd">
							<div>
								<a href="http://catalog.xc.com/zhenzhiku/20140520_yundongku.html" class="track" name="hp-hp-dbtl-1_4-v:n" target="_blank">
									<img src="http://i2.xcimg.com/cms/20150331/xsy5.jpg" alt="" title=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="imge">
					<div class="imgee">
						<div class="imgeee">
							<div>
								<a href="http://catalog.xc.com/zhenzhishan/yangmaopindao.html" class="track" name="hp-hp-dbtl-1_5-v:n" target="_blank">
									<img src="http://i1.xcimg.com/cms/20150331/xsy4.jpg" alt="" title=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blank0"></div>
	<div class="blank25"></div>
	<% include afooter.html %>